* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.backgroundImage {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
  display: flex;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clock {
  color: hotpink;
  font-size: 50px;
}
